:root{
    --cor-fundo:#007979;
    --cor-principa:#24B1B1;
    --cor-secundaria:#FFE2AF;
    --cor-destaque:#D8FFC5;
    --cor-texto:#CC3A63;

}


body{
    background-color: var(--cor-fundo);
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}